#Top {
	width: 100%;
	text-align: center;
	background-color: #3FCEFA;
	height: 20%;
}

#top_Spacer {
	height: 50px;
}

#left_menu {
	border-right: 2px solid black;
}

#center_menu {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#right_menu {
	border-left: 2px solid black;
}

#menu_table {
	padding: 2.5% 0 2.5% 0;
	height: 30px;
}

.menu {
	background-color: white;
	width: 33%;
	padding: 5%;
}